a {
  color: #000;
  text-decoration: none;
  /*убрали подчёркивание ссылок*/
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  /*определяет как браузер распределяет пространство между и вокруг элементов контента*/
  padding: 10px;
  background: none;
  font-family: Helvetica;
}
.logo {
  height: 40px;
}
.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__item {
  display: inline;
  padding: 10px 30px;
  /*Отступы между списками*/
  font-size: 20px;
  margin-right: 20px;
}
.header__item:hover {
  /*Блок для ссылок*/
  background-color: #928e876c;
  border-radius: 10px;
  /*Будет определять блок */
}
.title__text__block {
  height: 120px;
  background: #928e876c;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding: 0;
  margin-bottom: 20px;
}
.title__text {
  color: #000;
  font-size: 2em;
  margin-left: 20px;
  font-family: Helvetica;
}

.pics__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.girls__pics {
  max-width: 370px;
  padding: 5px 5px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px; /* Радиус скругления */
  margin-bottom: 10px;
}
.product__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price,
.description {
  display: inline;
  font-size: 20px;
  color: #000;
}
